*{
  padding: 0;
  box-sizing: border-box;
  margin: 0;
}

.layout{
  padding: 3rem;
     background-color: #0E1A2B;;
}

.section{
  display: flex;
  justify-content: space-between;
}

@media only screen and (max-width: 1023px) {
 .section{
  margin-top: 2rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
 }
}

/* .bd_yellow{
  border:2px solid yellow
}

.bd_red{
  border:2px solid red
}

.bd_blue{
  border:2px solid blue
}

.bd_green{
  border:2px solid green
} */